body{
  font-size: 18px;
}


.welcome{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
  height: 600px;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 12%;
}

.welcome h3 {
    padding-top: 15px;
}

.welcome h4{
  padding-top: 15px;
}

.aboutus{
  text-align: center;
  height: 350px;
  color: black;
}

.aboutus h2{
  padding-top: 40px;
}

.services{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
  height: 350px;
  color: white;
  text-align: center;
}

.services h2{
  padding-top: 55px;
}

.whatwedo{
  text-align: center;
  height: 300px;
  color: black;
}

.whatwedo h2{
  padding-top: 30px;
}

.toggle {
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 3%;
    text-align: center;
}

.text {
    display: none;
}

.folio {
    padding-top: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    display: none;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    border: 2px solid white;
}

.portfolio{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.contactus{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
  height: 420px;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.footer{
  text-align: center;
  padding-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
#message {
    background-color: transparent;
    margin-bottom: 20px;
}


#submit {
  background-color: transparent;
  border: 1px white;
  color: white;
  /* padding-top: px; */
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#mouse {
    padding-top: 20px;
    margin-top: 8%;
    padding-bottom: 20px;
}
/* #design{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/services_icons/design_icon.png");
  heigh
} */



















/*.container-fluid-1 .header {
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true);
    height: max-content;
    width: auto;
    padding-bottom: 15%;
    color: white;
    text-align: center;
    font-size: x-large;
    
}
.image {
    padding-top: 15px;
    padding-bottom: 5px;
}
.container-fluid-2 {
    padding-top: 2.5%;
    padding-bottom: 4%;
    text-align: center;
    font-size: large;
}
.container-fluid-3 {
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true);
    padding-top: 4%;
    padding-bottom: 4%;
    color: white; 
    text-align: center; 
}
.container-fluid-5 .what-we-do {
    text-align: center;
}

.container-fluid-5 .row {
    padding-top: 4%;
    padding-bottom: 2%
}
.container-fluid-5 .wwd {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.container-fluid-5 .text {
    display: none;
}
.container-fluid-6 {
    text-align: center;
}
.container-fluid-6 .row {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;    
}
.container-fluid-7 {
    background-image: url(https://github.com/754Bree/Delani-Studio/blob/master/Background/c_image.jpg?raw=true);
    height: 400px;;
    text-align: center;
}
.container-fluid-8 .social-icons{
    padding-top: 4%;
    text-align: center;
    
}
.container-fluid-8 .footer-text {
   text-align: center;
}*/









/*body {
    text-align: center;
    font-size:large ;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true);
    height: 400px;
    width: auto;
    padding: 20%;
    color: white;
}
.header .image {
    padding: 30%;
}
 .about-us {
     padding-top: 20px;
 }
 .services {
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true); 
    height: 250px;
    padding-top: 10%;
    color:white;
 }
 
 .wwd {
    display: flex;
    padding-left: 30%;
    padding-right: 25%;
    align-self: center;
 }
 .row1 {
    display: flex;
    padding: 30px;
    
 }
.row2 {
    display: flex;
    padding: 30px;
}
.contact-us {
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true);
    padding-top: 20px; ;
    height: 400px;
}*/
/*body {
    text-align: center;
}
.Welcome {
    background-image: url(https://github.com/754Bree/Delani-Studio/blob/master/Background/h_img.jpg?raw=true);
    height: 600px;
    width: 100%;
    padding-top: 12%;
    color: white;
}
.aboutus {
    padding-top: 8px;
}
.services {
    background-image: url(https://github.com/754Bree/Delani-Studio/blob/master/Background/s_image.jpg?raw=true);
    height: 300px;
    padding-top: 5%;
    color: white;
}
.container-toggle {
    padding-top: 5%;
}
.text-1 {
    display: none;
    text-align: center;
}
.text-2{
    display: none;
    text-align: center;
}
.text-3 {
    display: none;
    text-align: center;
}
.container-portfolio {
    padding-top:  50px;

    
}
.row-1{
    display:flex ;
    
}
.row-2 {
    display: flex;
    padding: 20%;
    word-spacing: 10px;
    border: 10px;
}
.container-fluid-contactus {
    background-image: url(https://github.com/754Bree/Delani-Studio/blob/master/Background/c_image.jpg?raw=true);
    padding-top: 50px;
}

/*.row-prfolio1 {
   display: inline;
}*/







/*.container-portfolio {

}*/








/*.aboutus {
    

}*/















/*body {
    font-size: 18px;
}
.Welcome {
    background-image: url(https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg);
    height: 600px;
    width: 100%;
    text-align: center;
    padding-top: 12%;
}
.Welcome h3 {
    padding-top: 15px;
}
.Welcome h4 {
    padding-top: 15px;
}
.aboutus {
    text-align: center;
    height: 350px;
    color: black;
}
.aboutus h2 {
    padding-top: 40px;
}
.services h2 {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg");
    height: 350px;
    color: black;
    text-align: center;
}
.services h2 {
    padding-top: 55px;
}
.whatwedo {
    text-align: center;
    height: 300px;
    color: black;
}
.whatwedo h2 {
    padding-top: 30px;
}
.toogle {
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 3%;
    text-align: center;
}
.text {
    display: none;
}

.prfolio {
    padding-top: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: larger;
    font-weight: 900;
    display: none;
    background: rgba(255, 255, 255, 0.2);
    color: black;
    border: 2px solid white;
}

.portfolio{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.contactus{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
  height: 420px;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.footer{
  text-align: center;
  padding-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
#message {
    background-color: transparent;
    margin-bottom: 20px;
}


#submit {
  background-color: transparent;
  border: 1px white;
  color: white;
  /* padding-top: px; */
  /*padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#mouse {
    padding-top: 20px;
    margin-top: 8%;
    padding-bottom: 20px;
}*/
/* #design{
  background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/services_icons/design_icon.png");
  heigh
} */